* {
    font-family: "american";
}

%flex {
    display: flex;
    justify-content: center;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.api-country {
    @extend %flex;
}

.header {
    text-align: center;
    background-color: black;
}

.text-header {
    color: #ffa115;
}